/*
   03 March 202111:57:02
   User: 
   Server: SOFTWARE\MSSQLSERVER2017
   Database: iEduCareDb
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.InstitutionType
	(
	Id uniqueidentifier NOT NULL ROWGUIDCOL,
	Name nvarchar(50) NOT NULL,
	Code nvarchar(20) NOT NULL,
	Description nchar(10) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.InstitutionType ADD CONSTRAINT
	DF_InstitutionType_Id DEFAULT (newid()) FOR Id
GO
ALTER TABLE dbo.InstitutionType ADD CONSTRAINT
	PK_InstitutionType PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.InstitutionType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.InstitutionType', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.InstitutionType', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.InstitutionType', 'Object', 'CONTROL') as Contr_Per 